{% load static %}

<input type="hidden" id="hCsrf" value="{{ csrf_token }}"/>
<input type="hidden" id="hRawImgPrefix" value="{% static 'images/raw/' %}"/>
<input type="hidden" id="hVer" value="{% now 'u' %}"/>

<div class="card-group mt-3 mb-3 ms-1 me-1">
{% for quote in quotes %}
  <div class="card mb-1 ms-1 me-1" id="qCardDiv{{quote.id}}">
  <div class="row">
  {% if quote.imagePath %}
    <div class="col">
      <img src="{% static 'images/' %}{{quote.imagePath}}?v={% now 'u' %}" class="img-fluid rounded" alt="{{quote.imageAlt}}">
    </div>
    {% if quote.isPin == 1 %}
    <div class="col">
        <img src="{% static 'images/' %}{{quote.imagePathPin}}?v={% now 'u' %}" class="img-fluid rounded" alt="{{quote.imageAlt}}">
    </div>
    {% endif %}
  {% endif %}
  </div>
    <div class="card-body">
      <p class="card-text text-center blockquote">{{quote.id}}. {{quote.quotes}}</p>
      <p class="text-end">{{quote.author}}</p>
      <p class="card-text">{{quote.category}}</p>
      <p class="card">{{quote.publishAt}}</p>
      {% if quote.isActive == 0 and quote.isUpdated == 0 or quote.isPin == 0 %}
      <p class="btn btn-outline-dark btn-sm" onclick="prepareQuotes({{quote.id}}, 1)">Prepare Quotes</p>
      {% endif %}
      {% if quote.isActive == 0 and quote.isUpdated == 1 %}
        {% if quote.isSchd == 0 %}
        <p class="btn btn-outline-dark btn-sm" onclick="schedule({{quote.id}}, 1)">Schedule</p>
        {% endif %}
      <p class="btn btn-outline-dark btn-sm" onclick="activate({{quote.id}}, 1)">Publish</p>
      {% endif %}
      {% if quote.isActive == 1 %}
      <p class="btn btn-outline-dark btn-sm" onclick="activate({{quote.id}}, 0)">Draft</p>
      {% endif %}
      {% if quote.isSchd == 1 %}
      <p class="btn btn-outline-dark btn-sm" onclick="schedule({{quote.id}}, 0)">Unschedule</p>
      {% endif %}
      {% if quote.isUpdated == 1 %}
      {% include './makeQuoteModal.html' %}
      {% endif %}
      
    </div>
  </div>
    {% if forloop.counter|divisibleby:"3" %}
      </div>
      <div class="card-group mt-3 mb-3 ms-1 me-1">
    {% endif %}
  {% endfor %}
</div>
{% include './searchModal.html' %}
{% include './importImageModal.html' %}
<script src="{% static './js/wpscript.js' %}"></script>
