{% load static %}
<!-- Button trigger modal -->
<p class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#delModal{{quote.id}}">Delete Quote</p>

<!-- Modal -->
<div class="modal fade" id="delModal{{quote.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Quotes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
          <div class="modal-body">
            <p class="">{{quote.id}}. {{quote.quotes}}</p>
          </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteQuotes({{quote.id}}, 1)">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>