{% load static %}
<div class="container mt-3">
  <div class="card">
      <img class="lazy" src="{% static './images/lazy-img.png' %}" data-src="{% static 'images/' %}{{quote1.imagePath}}" alt="{{quote1.imageAlt}}"  width="640" height="360">
    <div class="card-body">
      {% comment %} <div class="row">
      <div class="col">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqYF8yPuCwzCP_8QHdMGSCpo2yd3LuD-39CL56kfzkMRJ2uepj4K8oGPVqvoewsDflUKg&usqp=CAU" alt="...">
      </div>
      <div class="col">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqYF8yPuCwzCP_8QHdMGSCpo2yd3LuD-39CL56kfzkMRJ2uepj4K8oGPVqvoewsDflUKg&usqp=CAU" alt="...">
      </div>
      <div class="col">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqYF8yPuCwzCP_8QHdMGSCpo2yd3LuD-39CL56kfzkMRJ2uepj4K8oGPVqvoewsDflUKg&usqp=CAU" alt="...">
      </div>
    </div> {% endcomment %}
      <span class="card-text text-center">{{quote1.quotes}}</span>
      <div class="row">
      <a href="/{{locale}}/{{quote1.categorySlug|slugify}}-quotes" class="col-4 btn btn-outline-dark btn-sm">{{quote1.category}}</a>
      <a href="/{{locale}}/authors/{{quote1.authorSlug|slugify}}-quotes" class="col-8 text-end blockquote-footer link-dark">{{quote1.author}}</a>
      </div>      
    </div>
    {% include './dynamic-social-share-detail.html' %}
  </div>
</div>
<hr/>
{% include 'comp/dynamic-pin-card.html' %}
{% include 'comp/dynamic-card.html' %}