<!-- Button trigger modal -->
{% comment %} <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#importImageModal">
  Import Images
</a> {% endcomment %}

<!-- Modal -->
<div class="modal fade" id="importImageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import Images from Pixabay</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="GET" action="/wp-admin/saveImagesInDb">
      <div class="modal-body">
        <div class="mb-3">
          <label for="url" class="form-label">Enter Pixabay URL</label>
          <input type="text" class="form-control" name="url" id="url" placeholder="Pixabay Full URL">
        </div>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" value="1" id="isPin" name='isPin'>
          <label class="form-check-label" for="isPin">Pintrest Image</label>
        </div>
        <div class="mb-3">
          <label for="q" class="form-label">Enter Keyword</label>
          <input type="text" class="form-control" name="q" id="q" placeholder="Natural Images">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Import</button>
      </div>
      </form>


    </div>
  </div>
</div>