<div class="text-center">
  <div class="ms-2 btn btn-outline-dark btn-sm fa fa-whatsapp" onclick="return JSShare.go(this)" data-type="whatsapp"></div>
  <div class="ms-2 btn btn-outline-dark btn-sm fa fa-facebook" onclick="return JSShare.go(this)" data-type="fb"></div>
  {% comment %} <div class="ms-2 btn btn-outline-dark btn-sm fa fa-instagram" onclick="return JSShare.go(this)" data-type="instagram"></div> {% endcomment %}
  <div class="ms-2 btn btn-outline-dark btn-sm fa fa-twitter" onclick="return JSShare.go(this)" data-type="twitter"></div>
  <div class="ms-2 btn btn-outline-dark btn-sm fa fa-pinterest" onclick="return JSShare.go(this)" data-type="pinterest"></div>
  <div class="ms-2 btn btn-outline-dark btn-sm fa fa-tumblr" onclick="return JSShare.go(this)" data-type="tumblr"></div>
  {% comment %} <div class="ms-2 btn btn-outline-dark btn-sm fa fa-cloud-download" onclick="return JSShare.go(this)" data-type="twitter"></div>  {% endcomment %}
</div>