{% extends 'base/base.html' %}
{% block seo %}
{% include './comp/seo.html' %}
{% endblock %}
{% load static %}
{% block body %}
  <div class="carousel-inner">
  <img src="{% static './images/home-carousel.jpg' %}" class="lazy rounded"  width="100%" height="260" alt="Bestrani Motivational Quotes">
    <div class="carousel-caption d-none d-md-block">
            <h5>Motivational Quotes</h5>
            <p>Motivational Quotes To Reach Your Potential Each Day</p>
    </div>
  </div>
  
{% include './comp/card.html' %}
{% endblock %}
